#![enable(implicit_some)]
(
  version: 0,
  steps: [
    (
      name: "Knee Up",
      id: "knee-0",
      variation: "right-first",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "right-up", orientation: Right),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "left-up", orientation: Left),
      ]
    ),
    (
      name: "Simple Heels",
      id: "simple-heels-0",
      variation: "right-first",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "right-heel-front", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "left-heel-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Simple Heels",
      id: "simple-heels-1",
      variation: "left-first",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "left-heel-front", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "right-heel-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Pendulum",
      id: "p-0",
      variation: "right-first",
      keyframes: [
        (pose: "pendulum-right", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "pendulum-left", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Pendulum",
      id: "p-1",
      variation: "left-first",
      keyframes: [
        (pose: "pendulum-left", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "pendulum-right", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Yeah!",
      id: "jump-hands-up",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "hands-up", orientation: ToCamera),
      ]
    ),
  ]
)