version: "3.6"
services:
  bouncy_backend:
    image: jakmeier/bouncy-feet:bouncy_backend
    environment:
      CLIENT_URL: https://app.bouncy-feet.ch
      API_URL: https://stats.bouncy-feet.ch
      PEERTUBE_URL: https://tube.bouncy-feet.ch
      OIDC_ISSUER: https://auth.bouncy-feet.ch/realms/bouncyfeet
      OIDC_CLIENT_SECRET: XXXX
      OIDC_CLIENT_ID: bouncy-backend
      DATABASE_URL: "postgres://USER:PW@postgres/bouncyfeet"
      PEERTUBE_SYSTEM_USER: system
      PEERTUBE_SYSTEM_USER_PASSWORD: XXX
    ports:
      - 3002:3000
    restart: always
    networks:
      - local_network
  postgres:
    image: postgres:17.2
    volumes:
      - prod-pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: bouncyfeet
      POSTGRES_USER: XXXX
      POSTGRES_PASSWORD: XXXX
    ports:
      - 65432:5432
    networks:
      - local_network
    restart: always
volumes:
  prod-pgdata:
networks:
  local_network:
    driver: bridge
