#![enable(implicit_some)]
(
  version: 0,
  id: "running-man-basics",
  names: {"de": "Running Man Anfängerkurs", "en": "Running Man beginner's course"},
  featured_step: "rm-0",
  explanations: {
    "de": "Lerne den Basisschritt des Shuffelns, den Running Man.",
    "en": "Learn the basic step for all shuffle dance, the Running Man.",
  },
  lessons: [
    // LESSON 1: This might be a good warm-up. For now, focus on the actual exercises.
    // (
    //   names: {"de": "Einstieg", "en": "Getting started"},
    //   explanations: {
    //     "de": "Hallo!
    //     Wilkommen beim Running Man Anfängerkurs.
    //     Fangen wir mit einer Übung an, um den Körper an den Ryhthmus des Running Mans zu gewöhnen.",
    //     "en": "Hello!
    //     Welcome to the Running Man beginners course.
    //     Let's start with a few excericses to accustom your body to the rhythm of the Running Man move.
    //     ",
    //   },
    //   icon: "todo.svg",
    //   parts: [
    //     (
    //       step: "run-in-place",
    //       bpms: [60, 100],
    //       explanations: {
    //         "de": "Fangen wir an mit leichten hüpfern, abwechselnd auf dem linken und rechten Bein. Such dir das langsame oder schnelle Tempo aus, was besser für dich passt.",
    //         "en": "Let's start with light jumps, switching between the left and the right leg. Pick the speed that works best for you.",
    //       },
    //     ),
    //     (
    //       step: "double-run-in-place",
    //       bpms: [60, 100, 120],
    //       explanations: {
    //         "de": "Beim Running Man ist das tragende Bein zwei Mal hintereinander das Gleiche. Daher gewöhnen wir uns jetzt an einen Doppelrhythmus. Zwei mal richts dann zwei mal links. ",
    //         "en": "In the Running Man, the weight stays on the same leg for two jumps before switching to the other leg. Get your body used to this double-rhythm. Jump twice on the right leg, then twice on the left leg.",
    //       },
    //     ),
    //   ],
    // ),
    (
      // TODO: should I add an ID for better robustness in progress tracking across updates? 
      names: {"de": "Kick", "en": "Kick"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l1.mp4",
      parts: [
        // Starting with the inbalance first requires better explanations / intergration work.
        // (step: "kick-forward-unbalanced", bpms: [60, 90]),
        (step: "kick-forward", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Flacher Schritt 1", "en": "Flat Step 1"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l2.mp4",
      parts: [
        (step: "flat-man-3-pause", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Flacher Schritt 2", "en": "Flat Step 2"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l3.mp4",
      parts: [
        (step: "flat-man-2-2", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Flacher Schritt 3", "en": "Flat Step 3"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l4.mp4",
      parts: [
        (step: "flat-man", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Running Man mit Pause", "en": "Running Man with pause"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l5.mp4",
      parts: [
        (step: "running-man-3", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Running Man", "en": "Running Man"},
      icon: "todo.svg",
      video: "https://app.bouncy-feet.ch/media/videos/wip/l6.mp4",
      parts: [
        (step: "running-man", bpms: [60, 90]),
      ],
    ),
  ],
  steps: [
    (
      name: "Run in place",
      id: "run-in-place",
      keyframes: [
        (pose: "in-place-right-up", orientation: ToCamera, jump_height: 2.0),
        (pose: "in-place-left-up", orientation: ToCamera, jump_height: 2.0),
      ],
    ),
    (
      name: "Double run in place",
      id: "double-run-in-place",
      keyframes: [
        (pose: "in-place-right-up", orientation: ToCamera, jump_height: 2.0),
        (pose: "in-place-right-up", orientation: ToCamera, jump_height: 2.0),
        (pose: "in-place-left-up", orientation: ToCamera, jump_height: 2.0),
        (pose: "in-place-left-up", orientation: ToCamera, jump_height: 2.0),
      ],
    ),
    (
      name: "Kick forward, unbalanced",
      id: "kick-forward-unbalanced",
      keyframes: [
        (pose: "kick-right-unbalanced", orientation: Right),
        (pose: "left-slightly-up", orientation: Right),
        (pose: "kick-left-unbalanced", orientation: Right),
        (pose: "right-slightly-up", orientation: Right),
      ],
    ),
    (
      name: "Kick forward",
      id: "kick-forward",
      keyframes: [
        (pose: "kick-right", orientation: Right, jump_height: 2.0),
        (pose: "left-slightly-up", orientation: Right, jump_height: 2.0),
        (pose: "kick-left", orientation: Right, jump_height: 2.0),
        (pose: "right-slightly-up", orientation: Right, jump_height: 2.0),
      ],
    ),
    (
      name: "Flat man 3",
      id: "flat-man-3-pause",
      keyframes: [
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "right-forward", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "left-forward", orientation: Right, jump_height: 2.0),
      ],
    ),
    (
      name: "Flat man 2-2",
      id: "flat-man-2-2",
      keyframes: [
        (pose: "right-forward", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "left-forward", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
      ],
    ),
    (
      name: "Flat man",
      id: "flat-man",
      keyframes: [
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "right-forward", orientation: Right),
        (pose: "centered-sideway", orientation: Right, jump_height: 2.0),
        (pose: "left-forward", orientation: Right),
      ],
    ),
    (
      name: "Running man 3",
      id: "running-man-3",
      keyframes: [
        (pose: "right-forward", orientation: Right, jump_height: 5.0),
        (pose: "left-up", orientation: Right, jump_height: 2.0),
        (pose: "left-up", orientation: Right, jump_height: 2.0),
        (pose: "left-up", orientation: Right, jump_height: 2.0),
        (pose: "left-forward", orientation: Right, jump_height: 5.0),
        (pose: "right-up", orientation: Right, jump_height: 2.0),
        (pose: "right-up", orientation: Right, jump_height: 2.0),
        (pose: "right-up", orientation: Right, jump_height: 2.0),
      ],
    ),
    (
      name: "Running man",
      id: "running-man",
      keyframes: [
        (pose: "right-up", orientation: Right, jump_height: 2.0),
        (pose: "right-forward", orientation: Right, jump_height: 3.2),
        (pose: "left-up", orientation: Right, jump_height: 2.0),
        (pose: "left-forward", orientation: Right, jump_height: 3.2),
      ],
    ),
  ],
  poses: [
    (
      id: "in-place-right-up",
      direction: Front,
      limbs: [
        (limb: LeftThigh, weight: 1.0, angle: -1, tolerance: 0),
        (limb: LeftShin, weight: 1.0, angle: 3, tolerance: 0),
        (limb: LeftFoot, weight: 1.0, angle: -7, tolerance: 0),
        (limb: LeftArm, weight: 0.0, angle: -2, tolerance: 0),
        (limb: LeftForearm, weight: 0.0, angle: -4, tolerance: 0),
        (limb: RightThigh, weight: 1.0, angle: 1, tolerance: 0),
        (limb: RightShin, weight: 1.0, angle: 5, tolerance: 0),
        (limb: RightFoot, weight: 1.0, angle: 10, tolerance: 0),
        (limb: RightArm, weight: 0.0, angle: 16, tolerance: 0),
        (limb: RightForearm, weight: 0.0, angle: -49, tolerance: 0),
        (limb: LeftLeg, weight: 0.0, angle: 1, tolerance: 0),
        (limb: RightLeg, weight: 0.0, angle: 3, tolerance: 0),
      ],
      turn_hip: 1,
      z: (
        absolute: {(side: Right, part: Knee): -1.0, (side: Left, part: Heel): 1.0},
      ),
    ),
    (
      id: "in-place-left-up",
      direction: Front,
      limbs: [
        (limb: LeftThigh, weight: 1.0, angle: 2, tolerance: 0),
        (limb: LeftShin, weight: 1.0, angle: 5, tolerance: 0),
        (limb: LeftFoot, weight: 1.0, angle: -1, tolerance: 0),
        (limb: LeftArm, weight: 0.0, angle: -3, tolerance: 0),
        (limb: LeftForearm, weight: 0.0, angle: 130, tolerance: 0),
        (limb: RightThigh, weight: 1.0, angle: 0, tolerance: 0),
        (limb: RightShin, weight: 1.0, angle: -1, tolerance: 0),
        (limb: RightFoot, weight: 1.0, angle: 9, tolerance: 0),
        (limb: RightArm, weight: 1.0, angle: 9, tolerance: 0),
        (limb: RightForearm, weight: 1.0, angle: 4, tolerance: 0),
        (limb: LeftLeg, weight: 0.0, angle: 3, tolerance: 0),
        (limb: RightLeg, weight: 0.0, angle: 0, tolerance: 0),
      ],
      turn_hip: -28,
      z: (
        absolute: {(side: Left, part: Knee): -1.0, (side: Right, part: Heel): 1.0},
      ),
    ),
    (
      id: "kick-right-unbalanced",
      direction: Right,
      limbs: [
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 0.5),
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, angle: -12, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 25, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 20, tolerance: 10, weight: 0.5),
        (limb: RightFoot, angle: 100, tolerance: 10, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 96, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -25, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (
      id: "kick-left-unbalanced",
      mirror_of: "kick-right-unbalanced",
      direction: Right,
    ),
    (
      id: "kick-right",
      direction: Right,
      limbs: [
        (limb: LeftThigh, angle: -10, tolerance: 5, weight: 0.25),
        (limb: LeftShin, angle: -15, tolerance: 5, weight: 0.25),
        (limb: LeftLeg, angle: -12, tolerance: 5, weight: 0.5),
        (limb: RightThigh, angle: 30, tolerance: 5, weight: 0.5),
        (limb: RightShin, angle: 25, tolerance: 5, weight: 0.5),
        (limb: RightLeg, angle: 30, tolerance: 5, weight: 1.0),
        (limb: RightFoot, angle: 100, tolerance: 10, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 36, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -15, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (id: "kick-left", mirror_of: "kick-right", direction: Right),
    (
      id: "centered-sideway",
      direction: Right,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 2, weight: 0.0),
        (limb: LeftThigh, angle: 0, tolerance: 2, weight: 0.0),
        (limb: LeftLeg, angle: 0, tolerance: 0, weight: 1.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightShin, angle: 0, tolerance: 2, weight: 0.0),
        (limb: RightThigh, angle: 0, tolerance: 2, weight: 0.0),
        (limb: RightLeg, angle: 0, tolerance: 0, weight: 1.0),
        (limb: RightArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: RightFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 6, tolerance: 0, weight: 0.0),
      ],
    ),
    (
      id: "right-forward",
      direction: Right,
      y_shift: -0.0275,
      limbs: [
        (limb: LeftThigh, angle: -20, tolerance: 5, weight: 0.5),
        (limb: LeftShin, angle: -25, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, angle: -30, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 40, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 0.5),
        (limb: RightLeg, angle: 10, tolerance: 5, weight: 0.5),
        (limb: RightFoot, angle: 90, tolerance: 10, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 96, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -25, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (id: "left-forward", mirror_of: "right-forward", direction: Right),
    (
      id: "right-up",
      direction: Right,
      turn_shoulder: 30,
      turn_hip: 20,
      limbs: [
        (limb: LeftLeg, angle: 0, tolerance: 3, weight: 1.0),
        (limb: RightLeg, angle: 0, tolerance: 5, weight: 0.5),
        (limb: RightShin, angle: -50, tolerance: 10, weight: 1.0),
        (limb: RightThigh, angle: 60, tolerance: 5, weight: 1.0),
        (limb: LeftArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightFoot, angle: 70, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 6, tolerance: 0, weight: 0.0),
      ],
    ),
    (id: "left-up", mirror_of: "right-up", direction: Right),
    (
      id: "right-slightly-up",
      direction: Right,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 10, tolerance: 10, weight: 1.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightShin, angle: -80, tolerance: 20, weight: 1.0),
        (limb: RightThigh, angle: 20, tolerance: 10, weight: 1.0),
        (limb: RightArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: RightFoot, angle: 10, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 6, tolerance: 0, weight: 0.0),
      ]
    ),
    (id: "left-slightly-up", mirror_of: "right-slightly-up", direction: Right),
    // TODO: Resting poses should either be added by default or not be required
    // to exist with exactly these ids
    (
      id: "standing-straight-front",
      direction: Front,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftFoot, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightFoot, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightArm, angle: 10, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -5, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -10, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 5, tolerance: 0, weight: 0.0),
      ]
    ),
    (
      id: "standing-straight-side",
      direction: Right,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 6, tolerance: 0, weight: 0.0),
      ]
    ),
  ],
)