#![enable(implicit_some)]
(
  version: 0,
  id: "v-step-basics",
  names: {"de": "Anfängerkurs", "en": "Beginner's course"},
  featured_step: "happy-feet-0",
  explanations: {
    "de": "Lerne die Basis für seitliche Bewegungen mit dem V-Step.",
    "en": "Learn the base of sideway movements in shuffle with the V-Step.",
  },
  lessons: [
    (
      names: {"de": "V-Step langsam", "en": "V-Step, slow"},
      difficulty: 1,
      energy: 1,
      // explainer_video: "/video/todo.mp4",
      parts: [
        (step: "open-v-right", repeat: 8, subbeats_per_move: 4),
        (step: "open-v-left", repeat: 8, subbeats_per_move: 4),
      ],
    ),
    (
      names: {"de": "V-Step Lektion 2", "en": "V-Step Lesson 2"},
      difficulty: 2,
      energy: 1,
      // explainer_video: "/video/todo.mp4",
      parts: [
        (step: "open-v-left", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 4),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-left", repeat: 1, subbeats_per_move: 2),
        (step: "open-v-right", repeat: 1, subbeats_per_move: 2),
      ],
    ),
    (
      names: {"de": "Happy-Feet", "en": "Happy-Feet"},
      difficulty: 3,
      energy: 2,
      // explainer_video: "/video/todo.mp4",
      parts: [
        (step: "happy-feet-0", repeat: 2, subbeats_per_move: 4),
        (step: "happy-feet-0", repeat: 4, subbeats_per_move: 2),
        (step: "happy-feet-0", repeat: 4, subbeats_per_move: 1),
      ],
    ),
    (
      names: {"de": "Fortgeschrittenes Training", "en": "Advanced Training"},
      difficulty: 1,
      energy: 1,
      // explainer_video: "/video/todo.mp4",
      parts: [
        (step: "happy-feet-0", repeat: 4, subbeats_per_move: 2),
        (step: "v-step-back", repeat: 4, subbeats_per_move: 2),
        (step: "step-back", repeat: 4, subbeats_per_move: 2),
      ],
    ),
  ],
  steps: [
    (
      name: "Happy Feet",
      id: "happy-feet-0",
      variation: "right-first",
      keyframes: [
        (pose: "closed-x", orientation: ToCamera),
        (pose: "happy-right", orientation: ToCamera),
        (pose: "closed-x", orientation: ToCamera),
        (pose: "happy-left", orientation: ToCamera),
      ]
    ),
    (
      name: "Open V-Step",
      id: "open-v-right",
      variation: "right-out",
      keyframes: [
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Right, part: Heel)),
        (pose: "v-open-right", orientation: ToCamera, pivot: (side: Right, part: Heel)),
      ]
    ),
    (
      name: "Open V-Step",
      id: "open-v-left",
      variation: "left-out",
      keyframes: [
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Left, part: Heel)),
        (pose: "v-open-left", orientation: ToCamera, pivot: (side: Left, part: Heel)),
      ]
    ),
    (
      name: "V-Step",
      id: "v-0",
      variation: "right-out",
      keyframes: [
        (pose: "v-open-right", orientation: ToCamera, pivot: (side: Right, part: Toes)),
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Right, part: Heel)),
      ]
    ),
    (
      name: "V-Step",
      id: "v-1",
      variation: "left-out",
      keyframes: [
        (pose: "v-open-left", orientation: ToCamera, pivot: (side: Left, part: Toes)),
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Left, part: Heel)),
      ]
    ),
    (
    id: "step-back",
    name: "step-back",
    keyframes: [
        (
          pose: "pose-cc20c713",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
        (
          // open V
          pose: "pose-30831c4d",
          orientation: ToCamera,
          pivot: (side: Left, part: Toes),
        ),
        (
          pose: "pose-98418e26",
          orientation: ToCamera,
          pivot: (side: Right, part: Toes),
        ),
        (
          pose: "pose-26b8821b",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (
          pose: "pose-98418e26",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (
          // open V
          pose: "pose-30831c4d",
          orientation: ToCamera,
          pivot: (side: Right, part: Toes),
        ),
        (
          pose: "pose-cc20c713",
          orientation: ToCamera,
          pivot: (side: Left, part: Toes),
        ),
                (
          // step back right
          pose: "pose-935c410d",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
      ],
    ),
    (
    id: "v-step-back",
    name: "v-step-back",
    keyframes: [
        (pose: "v-closed-2", orientation: ToCamera, pivot: (side: Left, part: Heel)),
        (
          pose: "pose-26b8821b",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (pose: "v-closed-2", orientation: ToCamera, pivot: (side: Right, part: Heel)),
        (
          // step back right
          pose: "pose-935c410d",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
      ],
    ),
  ],
  poses: [
    (
      id: "v-open-right",
      names: {"de": "TODO", "en": "TODO"},
      direction: Front,
      limbs: [
        (limb: LeftThigh, weight: 1.0, angle: -10, tolerance: 5),
        (limb: LeftShin, weight: 1.0, angle: 20, tolerance: 5),
        (limb: LeftFoot, weight: 1.0, angle: -60, tolerance: 5),
        (limb: RightThigh, weight: 1.0, angle: 20, tolerance: 3),
        (limb: RightShin, weight: 1.0, angle: -10, tolerance: 3),
        (limb: RightFoot, weight: 1.0, angle: 60, tolerance: 5),
        (limb: RightArm, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -90, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: -90, tolerance: 0, weight: 0.0),
      ],
    ),
    ( id: "v-open-left", names: {"de": "TODO", "en": "TODO"}, mirror_of: "v-open-right", direction: Front ),
    (
      id: "v-closed",
      names: {"de": "TODO", "en": "TODO"},
      direction: Front,
      limbs: [
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 0.25),
        (limb: LeftShin, angle: -10, tolerance: 5, weight: 0.25),
        (limb: LeftFoot, angle: 60, tolerance: 15, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 0.25),
        (limb: RightShin, angle: 10, tolerance: 5, weight: 0.25),
        (limb: RightFoot, angle: -60, tolerance: 15, weight: 1.0),
        (limb: RightArm, angle: 80, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 100, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -80, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: -100, tolerance: 0, weight: 0.0),
      ]
    ),
    (
      // like v-closed but legs further apart and arms lower
      id: "v-closed-2",
      names: {"de": "TODO", "en": "TODO"},
      direction: Front,
      limbs: [
        (limb: LeftThigh, angle: -10, tolerance: 5, weight: 0.25),
        (limb: LeftShin, angle: -10, tolerance: 5, weight: 0.25),
        (limb: LeftFoot, angle: 60, tolerance: 15, weight: 1.0),
        (limb: RightThigh, angle: 10, tolerance: 5, weight: 0.25),
        (limb: RightShin, angle: 10, tolerance: 5, weight: 0.25),
        (limb: RightFoot, angle: -60, tolerance: 15, weight: 1.0),
        (limb: RightArm, angle: 35, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 17, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -36, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: -21, tolerance: 0, weight: 0.0),
      ],
      z: (
        absolute: {
          (side: Right, part: Elbow): -0.25,
          (side: Right, part: Wrist): 0.5,
          (side: Left, part: Elbow): -0.25,
          (side: Left, part: Wrist): 0.5,
        },
      ),
    ),

    // TODO: Resting poses should either be added by default or not be required
    // to exist with exactly these ids
    (
      id: "standing-straight-front",
      direction: Front,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftFoot, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightFoot, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightArm, angle: 10, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -5, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -10, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 5, tolerance: 0, weight: 0.0),
      ]
    ),
        (
      id: "happy-right",
      names: {"de": "TODO", "en": "TODO"},
      direction: Front,
      y_shift: -0.0125,
      turn_shoulder: 0,
      turn_hip: 40,
      limbs: [
        ( limb: LeftThigh, weight: 1.0, angle: -10, tolerance: 5),
        ( limb: LeftShin, weight: 1.0, angle: 20, tolerance: 5),
        ( limb: LeftFoot, weight: 1.0, angle: -60, tolerance: 5),
        ( limb: RightThigh, weight: 1.0, angle: 20, tolerance: 3),
        ( limb: RightShin, weight: 1.0, angle: -10, tolerance: 3),
        ( limb: RightFoot, weight: 1.0, angle: 65, tolerance: 5),
        ( limb: LeftArm, weight: 0.0, angle: -5, tolerance: 0),
        ( limb: LeftForearm, weight: 0.0, angle: -10, tolerance: 0),
        ( limb: RightArm, weight: 0.0, angle: 12, tolerance: 0),
        ( limb: RightForearm, weight: 0.0, angle: 15, tolerance: 0),
      ],
    ),
    ( id: "happy-left", names: {"de": "TODO", "en": "TODO"}, mirror_of: "happy-right", direction: Front ),
    (
      id: "closed-x",
      names: {"de": "TODO", "en": "TODO"},
      direction: Front,
      limbs: [
        ( limb: LeftThigh, weight: 1.0, angle: 0, tolerance: 5),
        ( limb: LeftShin, weight: 1.0, angle: -5, tolerance: 5),
        ( limb: LeftFoot, weight: 1.0, angle: 60, tolerance: 5),
        ( limb: RightThigh, weight: 1.0, angle: 0, tolerance: 5),
        ( limb: RightShin, weight: 1.0, angle: 5, tolerance: 5),
        ( limb: RightFoot, weight: 1.0, angle: -60, tolerance: 5),
        ( limb: LeftArm, weight: 0.0, angle: -10, tolerance: 0),
        ( limb: LeftForearm, weight: 0.0, angle: -7, tolerance: 0),
        ( limb: RightArm, weight: 0.0, angle: 10, tolerance: 0),
        ( limb: RightForearm, weight: 0.0, angle: -7, tolerance: 0),
      ],
    ),
    (
      id: "standing-straight-side",
      direction: Right,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 6, tolerance: 0, weight: 0.0),
      ]
    ),
    (
      id: "pose-26b8821b",
      names: Some({
          "en": "step-back-left",
      }),
      direction: Front,
      limbs: [
          (
              limb: LeftThigh,
              weight: 1.0,
              angle: 12,
              tolerance: 10,
          ),
          (
              limb: LeftShin,
              weight: 1.0,
              angle: 7,
              tolerance: 10,
          ),
          (
              limb: LeftFoot,
              weight: 1.0,
              angle: -41,
              tolerance: 10,
          ),
          (
              limb: LeftArm,
              weight: 0.0,
              angle: -25,
              tolerance: 0,
          ),
          (
              limb: LeftForearm,
              weight: 0.0,
              angle: -40,
              tolerance: 0,
          ),
          (
              limb: RightThigh,
              weight: 1.0,
              angle: 8,
              tolerance: 10,
          ),
          (
              limb: RightShin,
              weight: 1.0,
              angle: -12,
              tolerance: 10,
          ),
          (
              limb: RightFoot,
              weight: 1.0,
              angle: 63,
              tolerance: 10,
          ),
          (
              limb: RightArm,
              weight: 0.0,
              angle: 31,
              tolerance: 0,
          ),
          (
              limb: RightForearm,
              weight: 0.0,
              angle: 45,
              tolerance: 0,
          ),
          (
              limb: LeftLeg,
              weight: 1.0,
              angle: 10,
              tolerance: 10,
          ),
          (
              limb: RightLeg,
              weight: 1.0,
              angle: -2,
              tolerance: 10,
          ),
      ],
      // x_shift: 0.05,
      y_shift: -0.05,
      turn_hip: 10,
      z: (
          absolute: {
              (
                  side: Right,
                  part: Ankle,
              ): 1.0,
              (
                  side: Right,
                  part: Elbow,
              ): -0.25,
              (
                  side: Left,
                  part: Ankle,
              ): -1.5,
              (
                  side: Right,
                  part: Knee,
              ): 0.5,
              (
                  side: Left,
                  part: Toes,
              ): -0.5,
              (
                  side: Right,
                  part: Heel,
              ): 1.0,
              (
                  side: Right,
                  part: Wrist,
              ): 0.5,
              (
                  side: Left,
                  part: Elbow,
              ): -0.25,
              (
                  side: Left,
                  part: Knee,
              ): 0.0,
              (
                  side: Left,
                  part: Heel,
              ): -1.5,
              (
                  side: Left,
                  part: Wrist,
              ): 0.5,
              (
                  side: Right,
                  part: Toes,
              ): 2.0,
          },
      ),
  ),
  (
      id: "pose-935c410d",
      names: Some({
          "en": "step-back-right",
      }),
      direction: Front,
      limbs: [
          (
              limb: LeftThigh,
              weight: 1.0,
              angle: -1,
              tolerance: 10,
          ),
          (
              limb: LeftShin,
              weight: 1.0,
              angle: 8,
              tolerance: 10,
          ),
          (
              limb: LeftFoot,
              weight: 10.0,
              angle: -57,
              tolerance: 10,
          ),
          (
              limb: LeftArm,
              weight: 0.0,
              angle: -10,
              tolerance: 0,
          ),
          (
              limb: LeftForearm,
              weight: 0.0,
              angle: -40,
              tolerance: 0,
          ),
          (
              limb: RightThigh,
              weight: 1.0,
              angle: -7,
              tolerance: 10,
          ),
          (
              limb: RightShin,
              weight: 1.0,
              angle: -1,
              tolerance: 10,
          ),
          (
              limb: RightFoot,
              weight: 10.0,
              angle: 35,
              tolerance: 10,
          ),
          (
              limb: RightArm,
              weight: 0.0,
              angle: 20,
              tolerance: 0,
          ),
          (
              limb: RightForearm,
              weight: 0.0,
              angle: 33,
              tolerance: 0,
          ),
          (
              limb: LeftLeg,
              weight: 1.0,
              angle: 3,
              tolerance: 10,
          ),
          (
              limb: RightLeg,
              weight: 1.0,
              angle: -5,
              tolerance: 10,
          ),
      ],
      // x_shift: -0.05,
      y_shift: -0.05,
      turn_hip: -19,
      z: (
          absolute: {
              (
                  side: Right,
                  part: Heel,
              ): -1.5,
              (
                  side: Left,
                  part: Heel,
              ): 1.0,
              (
                  side: Right,
                  part: Wrist,
              ): 0.5,
              (
                  side: Right,
                  part: Ankle,
              ): -1.5,
              (
                  side: Right,
                  part: Elbow,
              ): -0.25,
              (
                  side: Left,
                  part: Knee,
              ): 0.5,
              (
                  side: Left,
                  part: Ankle,
              ): 1.0,
              (
                  side: Right,
                  part: Knee,
              ): 0.0,
              (
                  side: Left,
                  part: Toes,
              ): 2.0,
              (
                  side: Left,
                  part: Elbow,
              ): -0.25,
              (
                  side: Left,
                  part: Wrist,
              ): 0.5,
              (
                  side: Right,
                  part: Toes,
              ): -0.5,
          },
      ),
  ),
  (
      id: "pose-30831c4d",
      names: Some({
          "en": "open-V",
      }),
      direction: Front,
      limbs: [
          (
              limb: LeftThigh,
              weight: 1.0,
              angle: -5,
              tolerance: 10,
          ),
          (
              limb: LeftShin,
              weight: 1.0,
              angle: 1,
              tolerance: 10,
          ),
          (
              limb: LeftFoot,
              weight: 2.0,
              angle: -60,
              tolerance: 10,
          ),
          (
              limb: LeftArm,
              weight: 0.0,
              angle: -9,
              tolerance: 0,
          ),
          (
              limb: LeftForearm,
              weight: 0.0,
              angle: -9,
              tolerance: 0,
          ),
          (
              limb: RightThigh,
              weight: 1.0,
              angle: 2,
              tolerance: 10,
          ),
          (
              limb: RightShin,
              weight: 1.0,
              angle: 3,
              tolerance: 10,
          ),
          (
              limb: RightFoot,
              weight: 2.0,
              angle: 41,
              tolerance: 10,
          ),
          (
              limb: RightArm,
              weight: 0.0,
              angle: 5,
              tolerance: 0,
          ),
          (
              limb: RightForearm,
              weight: 0.0,
              angle: 8,
              tolerance: 0,
          ),
          (
              limb: LeftLeg,
              weight: 1.0,
              angle: -2,
              tolerance: 10,
          ),
          (
              limb: RightLeg,
              weight: 1.0,
              angle: 2,
              tolerance: 10,
          ),
      ],
      turn_hip: 4,
  ),
  (
      id: "pose-98418e26",
      names: Some({
          "en": "t-up-right",
      }),
      direction: Front,
      limbs: [
          (
              limb: LeftThigh,
              weight: 1.0,
              angle: -18,
              tolerance: 10,
          ),
          (
              limb: LeftShin,
              weight: 1.0,
              angle: 45,
              tolerance: 10,
          ),
          (
              limb: LeftFoot,
              weight: 1.0,
              angle: -24,
              tolerance: 10,
          ),
          (
              limb: LeftArm,
              weight: 0.0,
              angle: -21,
              tolerance: 0,
          ),
          (
              limb: LeftForearm,
              weight: 0.0,
              angle: -29,
              tolerance: 0,
          ),
          (
              limb: RightThigh,
              weight: 1.0,
              angle: -4,
              tolerance: 10,
          ),
          (
              limb: RightShin,
              weight: 1.0,
              angle: 2,
              tolerance: 10,
          ),
          (
              limb: RightFoot,
              weight: 1.0,
              angle: -59,
              tolerance: 10,
          ),
          (
              limb: RightArm,
              weight: 0.0,
              angle: 8,
              tolerance: 0,
          ),
          (
              limb: RightForearm,
              weight: 0.0,
              angle: -78,
              tolerance: 0,
          ),
          (
              limb: LeftLeg,
              weight: 1.0,
              angle: 3,
              tolerance: 0,
          ),
          (
              limb: RightLeg,
              weight: 1.0,
              angle: -1,
              tolerance: 10,
          ),
      ],
      turn_hip: -18,
      z: (
          absolute: {
              (
                  side: Right,
                  part: Heel,
              ): 0.0,
              (
                  side: Right,
                  part: Ankle,
              ): 0.0,
              (
                  side: Left,
                  part: Toes,
              ): -0.5,
              (
                  side: Left,
                  part: Knee,
              ): 1.0,
              (
                  side: Left,
                  part: Wrist,
              ): 0.0,
              (
                  side: Left,
                  part: Elbow,
              ): 0.0,
              (
                  side: Right,
                  part: Elbow,
              ): 0.0,
              (
                  side: Right,
                  part: Toes,
              ): 0.0,
              (
                  side: Right,
                  part: Wrist,
              ): 0.0,
              (
                  side: Right,
                  part: Knee,
              ): 0.0,
              (
                  side: Left,
                  part: Ankle,
              ): -1.0,
              (
                  side: Left,
                  part: Heel,
              ): -1.0,
          },
      ),
  ),
  (
    id: "pose-cc20c713",
    names: Some({
        "en": "t-up-left",
    }),
    direction: Front,
    limbs: [
        (
            limb: LeftThigh,
            weight: 1.0,
            angle: 1,
            tolerance: 10,
        ),
        (
            limb: LeftShin,
            weight: 1.0,
            angle: -11,
            tolerance: 10,
        ),
        (
            limb: LeftFoot,
            weight: 1.0,
            angle: 48,
            tolerance: 10,
        ),
        (
            limb: LeftArm,
            weight: 0.0,
            angle: -25,
            tolerance: 0,
        ),
        (
            limb: LeftForearm,
            weight: 0.0,
            angle: -53,
            tolerance: 0,
        ),
        (
            limb: RightThigh,
            weight: 1.0,
            angle: 23,
            tolerance: 10,
        ),
        (
            limb: RightShin,
            weight: 1.0,
            angle: -7,
            tolerance: 10,
        ),
        (
            limb: RightFoot,
            weight: 1.0,
            angle: 37,
            tolerance: 10,
        ),
        (
            limb: RightArm,
            weight: 0.0,
            angle: 13,
            tolerance: 0,
        ),
        (
            limb: RightForearm,
            weight: 0.0,
            angle: 106,
            tolerance: 0,
        ),
        (
            limb: LeftLeg,
            weight: 1.0,
            angle: -5,
            tolerance: 10,
        ),
        (
            limb: RightLeg,
            weight: 1.0,
            angle: 8,
            tolerance: 10,
        ),
    ],
    turn_hip: 17,
    z: (
        absolute: {
            (
                side: Right,
                part: Ankle,
            ): -1.0,
            (
                side: Right,
                part: Wrist,
            ): 0.0,
            (
                side: Left,
                part: Heel,
            ): 0.0,
            (
                side: Right,
                part: Toes,
            ): -0.5,
            (
                side: Right,
                part: Elbow,
            ): 0.0,
            (
                side: Left,
                part: Ankle,
            ): 0.0,
            (
                side: Left,
                part: Knee,
            ): 0.0,
            (
                side: Right,
                part: Knee,
            ): 1.0,
            (
                side: Right,
                part: Heel,
            ): -1.0,
            (
                side: Left,
                part: Toes,
            ): 0.0,
            (
                side: Left,
                part: Wrist,
            ): 0.0,
            (
                side: Left,
                part: Elbow,
            ): 0.0,
        },
      ),
    ),
  ],
)