#![enable(implicit_some)]
(
  version: 0,
  id: "running-man-basics",
  names: {"de": "Running Man Anfängerkurs", "en": "Running Man beginner's course"},
  featured_step: "rm-0",
  lessons: [
    (
      names: {"de": "Einwärmen", "en": "Warm up"},
      icon: "todo.svg",
      parts: [
        (step: "run-in-place", bpms: [60, 100]),
        (step: "double-run-in-place", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Kick", "en": "Kick"},
      icon: "todo.svg",
      parts: [
        (step: "kick-forward-unbalanced", bpms: [60, 90]),
        (step: "kick-forward", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Flacher Schritt", "en": "Flat Step"},
      icon: "todo.svg",
      parts: [
        (step: "flat-man-3-pause", bpms: [60, 90]),
        (step: "flat-man", bpms: [60, 90]),
      ],
    ),
    (
      names: {"de": "Running Man", "en": "Running Man"},
      icon: "todo.svg",
      parts: [
        (step: "running-man-3", bpms: [60, 90]),
        (step: "running-man", bpms: [60, 90]),
      ],
    ),
  ],
  steps: [
    (
      name: "Run in place",
      id: "run-in-place",
      keyframes: [
        (pose: "in-place-left-up", orientation: ToCamera),
        (pose: "in-place-right-up", orientation: ToCamera),
      ],
    ),
    (
      name: "Double run in place",
      id: "double-run-in-place",
      keyframes: [
        (pose: "in-place-left-up", orientation: ToCamera),
        (pose: "in-place-left-up", orientation: ToCamera),
        (pose: "in-place-right-up", orientation: ToCamera),
        (pose: "in-place-right-up", orientation: ToCamera),
      ],
    ),
    (
      name: "Kick forward, unbalanced",
      id: "kick-forward-unbalanced",
      keyframes: [
        (pose: "kick-right-unbalanced", orientation: Right),
        (pose: "centered-sideway", orientation: Right),
        (pose: "kick-left-unbalanced", orientation: Right),
        (pose: "centered-sideway", orientation: Right),
      ],
    ),
    (
      name: "Kick forward",
      id: "kick-forward",
      keyframes: [
        (pose: "kick-right", orientation: Right),
        (pose: "centered-sideway", orientation: Right),
        (pose: "kick-left", orientation: Right),
        (pose: "centered-sideway", orientation: Right),
      ],
    ),
    (
      name: "Flat man 3",
      id: "flat-man-3-pause",
      keyframes: [
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "right-forward", orientation: Right, jump_height: 0.05),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "left-forward", orientation: Right, jump_height: 0.05),
      ],
    ),
    (
      name: "Flat man",
      id: "flat-man",
      keyframes: [
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "right-forward", orientation: Right),
        (pose: "centered-sideway", orientation: Right, jump_height: 0.05),
        (pose: "left-forward", orientation: Right),
      ],
    ),
    (
      name: "Running man 3",
      id: "running-man-3",
      keyframes: [
        (pose: "right-up", orientation: Right),
        (pose: "right-up", orientation: Right),
        (pose: "right-up", orientation: Right),
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward", orientation: Right),
      ],
    ),
    (
      name: "Running man",
      id: "running-man",
      keyframes: [
        (pose: "right-up", orientation: Right),
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward", orientation: Right),
      ],
    ),
  ],
  poses: [
    (
      name: "in-place-right-up",
      direction: Front,
      limbs: [
        (limb: LeftThigh, weight: 1.0, angle: -1, tolerance: 0),
        (limb: LeftShin, weight: 1.0, angle: 3, tolerance: 0),
        (limb: LeftFoot, weight: 1.0, angle: -7, tolerance: 0),
        (limb: LeftArm, weight: 1.0, angle: -2, tolerance: 0),
        (limb: LeftForearm, weight: 1.0, angle: -4, tolerance: 0),
        (limb: RightThigh, weight: 1.0, angle: 1, tolerance: 0),
        (limb: RightShin, weight: 1.0, angle: 5, tolerance: 0),
        (limb: RightFoot, weight: 1.0, angle: 10, tolerance: 0),
        (limb: RightArm, weight: 1.0, angle: 16, tolerance: 0),
        (limb: RightForearm, weight: 1.0, angle: -49, tolerance: 0),
        (limb: LeftLeg, weight: 1.0, angle: 1, tolerance: 0),
        (limb: RightLeg, weight: 1.0, angle: 3, tolerance: 0),
      ],
      turn_hip: 1,
      z: (
        absolute: {(side: Right, part: Knee): -1.0, (side: Left, part: Heel): 1.0},
      ),
    ),
    (
      name: "in-place-left-up",
      direction: Front,
      limbs: [
        (limb: LeftThigh, weight: 1.0, angle: 2, tolerance: 0),
        (limb: LeftShin, weight: 1.0, angle: 5, tolerance: 0),
        (limb: LeftFoot, weight: 1.0, angle: -1, tolerance: 0),
        (limb: LeftArm, weight: 1.0, angle: -3, tolerance: 0),
        (limb: LeftForearm, weight: 1.0, angle: 130, tolerance: 0),
        (limb: RightThigh, weight: 1.0, angle: 0, tolerance: 0),
        (limb: RightShin, weight: 1.0, angle: -1, tolerance: 0),
        (limb: RightFoot, weight: 1.0, angle: 9, tolerance: 0),
        (limb: RightArm, weight: 1.0, angle: 9, tolerance: 0),
        (limb: RightForearm, weight: 1.0, angle: 4, tolerance: 0),
        (limb: LeftLeg, weight: 1.0, angle: 3, tolerance: 0),
        (limb: RightLeg, weight: 1.0, angle: 0, tolerance: 0),
      ],
      turn_hip: -28,
      z: (
        absolute: {(side: Left, part: Knee): -1.0, (side: Right, part: Heel): 1.0},
      ),
    ),
    (
      name: "kick-right-unbalanced",
      direction: Right,
      limbs: [
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 0.5),
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, angle: -12, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 25, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 20, tolerance: 10, weight: 0.5),
        (limb: RightFoot, angle: 100, tolerance: 10, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 96, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -25, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (
      name: "kick-left-unbalanced",
      mirror_of: "kick-right-unbalanced",
      direction: Right,
    ),
    (
      name: "kick-right",
      direction: Right,
      limbs: [
        (limb: LeftThigh, angle: -10, tolerance: 5, weight: 0.5),
        (limb: LeftShin, angle: -15, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, angle: -12, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 25, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 20, tolerance: 10, weight: 0.5),
        (limb: RightFoot, angle: 100, tolerance: 10, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 96, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -25, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (name: "kick-left", mirror_of: "kick-right", direction: Right),
    (
      name: "centered-sideway",
      direction: Right,
      limbs: [
        (limb: LeftShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightShin, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 0, tolerance: 5, weight: 1.0),
        (limb: RightArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: RightFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 6, tolerance: 0, weight: 0.0),
      ],
    ),
    (
      name: "right-forward",
      direction: Right,
      y_shift: -0.0275,
      limbs: [
        (limb: LeftThigh, angle: -20, tolerance: 5, weight: 0.5),
        (limb: LeftShin, angle: -25, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, angle: -30, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 40, tolerance: 5, weight: 1.0),
        (limb: RightShin, angle: 0, tolerance: 10, weight: 0.5),
        (limb: RightFoot, angle: 90, tolerance: 10, weight: 0.25),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: LeftArm, angle: 0, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 96, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -25, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: -20, tolerance: 0, weight: 0.0),
      ],
    ),
    (name: "left-forward", mirror_of: "right-forward", direction: Right),
    (
      name: "right-up",
      direction: Right,
      turn_shoulder: 30,
      turn_hip: 20,
      limbs: [
        (limb: LeftLeg, angle: 0, tolerance: 3, weight: 1.0),
        (limb: RightLeg, angle: 0, tolerance: 5, weight: 0.5),
        (limb: RightShin, angle: -30, tolerance: 5, weight: 1.0),
        (limb: RightThigh, angle: 60, tolerance: 5, weight: 1.0),
        (limb: LeftArm, angle: 6, tolerance: 0, weight: 0.0),
        (limb: LeftForearm, angle: 18, tolerance: 0, weight: 0.0),
        (limb: LeftFoot, angle: 90, tolerance: 0, weight: 0.0),
        (limb: RightFoot, angle: 70, tolerance: 0, weight: 0.0),
        (limb: RightArm, angle: -12, tolerance: 0, weight: 0.0),
        (limb: RightForearm, angle: 6, tolerance: 0, weight: 0.0),
      ]
    ),
    ( name: "left-up", mirror_of: "right-up", direction: Right ),
  ],
)