/*
* Theme colors for re-use in all components.
* The theme is static for now.
*/
:root {
    --theme-main: #a9eb66;
    --theme-main-60: #a9eb669a;
    --theme-main-alt: #7fdb61;
    --theme-main-dark: #596e35;
    --theme-main-medium: #cbf3a3;
    --theme-main-light: #ddf7c2;
    --theme-neutral-dark: #1d1d1b;
    --theme-neutral-black: #000000;
    --theme-neutral-gray: #e6f2ef;
    --theme-neutral-light: #f0f7f5;
    /* --theme-neutral-white: #f0f7f5; */
    --theme-neutral-white: #ffffff;
    --theme-accent: #ff7301;
    --theme-accent-dark: #7d3f06;
    --theme-accent-medium: #ffab67;
    --theme-accent-light: #ffc79a;

    --avatar-left: #5d8634;
    --avatar-right: #a9eb66;
    --avatar-head: #a9eb66;

    --font-large: 36px;
    --font-normal: 20px;
    --font-small: 12px;
}

/*
* General styling defaults
*/

body {
    margin: 0;
    background-color: var(--theme-neutral-black);
    color: var(--theme-neutral-white);
}

body,
input {
    font-family: 'Pleasure Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-normal);
}

img {
    stroke: var(--theme-neutral-white);
    stroke: #FFFFFF;
}

h1.colored {
    /* color: var(--theme-main); */
    /* font-weight: 900; */
    text-shadow: var(--theme-main) 0px 0px 20px;
}

h2.box {
    margin: 5px 0;
    background-color: var(--theme-neutral-dark);
    color: var(--theme-neutral-white);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: var(--font-normal);
}

h2.box .gradient-text {
    /* background: linear-gradient(0deg, #ff7301 15%, #ffe72e 50%, #7fdb61 80%);
    background-clip: text; */
    /* color: transparent; */
    color: #7fdb61;
}

h1,
h2 {
    font-size: var(--font-large);
    font-weight: 500;
}

h3,
h4,
h5,
h6 {
    font-size: var(--font-normal);
    font-weight: 500;
    letter-spacing: 0.025rem;
}

input {
    font-size: var(--font-normal);
    width: auto;
    max-width: 100%;
    min-width: 0;
}

a {
    color: var(--theme-neutral-dark);
    text-decoration: none;
}

button {
    font-family: 'Pleasure Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--theme-accent);
    min-width: 100px;
    width: max-content;
    color: var(--theme-neutral-black);
    border: none;
    border-radius: 999px;
    font-size: var(--font-normal);
    /* 
      Vertical padding should look the same size as a letter.
      With the pleasure font, that seems to be at around 75% font size.
     */
    padding: 0.75rem 1rem;
}

button.light {
    background-color: var(--theme-accent-medium);
}

button:hover {
    box-shadow: 0 2px 8px #00000082;
}

button.light:active {
    box-shadow: 0 0px 0px #00000082;
}

@media (max-width: 360px) {

    /* Three buttons must fit next to each other, including margin */
    button {
        width: 75px;
        height: fit-content;
    }
}

button.big {
    width: 152px;
    height: 80px;
    margin: 10px;
}

button.small {
    width: 50px;
    height: 50px;
}

button.wide {
    margin: 5px auto;
    width: 90%;
    max-width: 450px;
}

button.full-width {
    margin: 5px auto;
    width: 100%;
}

button.short {
    height: 50px;
}

button.locked {
    background-color: var(--theme-neutral-gray);
    color: var(--theme-neutral-dark);
    opacity: 0.5;
    cursor: not-allowed;
}

button.cancel {
    background-color: var(--theme-neutral-gray);
    color: var(--theme-neutral-dark);
}

button.reset {
    width: 80px;
    height: 30px;
    background-color: var(--theme-accent-light);
    color: var(--theme-neutral-dark);
    text-align: center;
    padding: 0;
}

button.blue {
    color: var(--theme-main);
}

button.margin15 {
    margin: 15px;
}

button.width60 {
    width: 60px;
}

button.danger {
    border: var(--theme-neutral-dark) solid 3px;
}

/* for permanently hidden objects or the occasional instances where it's easier
to hide an element instead of conditional rendering */
.hidden {
    display: none;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
}