/*
* Theme colors for re-use in all components.
* The theme is static for now.
*/
:root {
    --theme-main: #a9eb66;
    --theme-main-60: #a9eb669a;
    --theme-main-alt: #7fdb61;
    --theme-main-dark: #596e35;
    --theme-main-medium: #cbf3a3;
    --theme-main-light: #ddf7c2;
    /* This color is probably no longer used */
    --theme-neutral-dark: #000000;
    --theme-neutral-dark-transparent: #1d1d1b96;
    --theme-neutral-black: #000000;
    /* This is "cool gray" from booklet */
    --theme-neutral-light: #ecf2f1;
    /* This is "cool gray" but one step darker */
    --theme-neutral-gray: #d2e0de;
    /* This is "cool gray" but two steps darker */
    --theme-neutral-dark-gray: #b3cbc7;
    /* 
     * #95b6b1
     * #77a29b
     * #5d8881
     */

    --theme-neutral-white: #ffffff;
    --theme-accent: #ff7301;
    --theme-accent-dark: #7d3f06;
    --theme-accent-medium: #ffab67;
    --theme-accent-light: #ffc79a;

    --avatar-left: #5d8634;
    --avatar-right: #a9eb66;
    --avatar-head: #a9eb66;

    --font-large: 36px;
    --font-normal: 20px;
    --font-small: 12px;

    --color: var(--theme-neutral-white);
    --background-color: var(--theme-neutral-black);
}

/*
* General styling defaults
*/

body {
    margin: 0;
}

body,
input {
    font-family: 'Pleasure Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-normal);
    letter-spacing: 0.02em;
}

img {
    stroke: var(--theme-neutral-white);
    stroke: #FFFFFF;
}

h1.colored {
    /* color: var(--theme-main); */
    /* font-weight: 900; */
    text-shadow: var(--theme-main) 0px 0px 20px;
}

h2.box {
    margin: 5px 0;
    background-color: var(--theme-neutral-dark);
    color: var(--theme-neutral-white);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: var(--font-normal);
}

h2.box .gradient-text {
    /* background: linear-gradient(0deg, #ff7301 15%, #ffe72e 50%, #7fdb61 80%);
    background-clip: text; */
    /* color: transparent; */
    color: #7fdb61;
}

h1,
h2 {
    font-size: var(--font-large);
    font-weight: 500;
    letter-spacing: 0.02em;
    /* The font starts with a small offset, to align it with the page, I have to
    move it slightly. */
    margin-left: -2px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h3,
h4,
h5,
h6 {
    font-size: var(--font-normal);
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 1.5rem;
    margin-top: 0;
    /* The font starts with a small offset, to align it with the page, I have to
    move it slightly. */
    margin-left: -1px;
}


p {
    /* The font starts with a small offset, to align it with the page, I have to
    move it slightly. */
    margin-left: -1px;
}

input {
    font-size: var(--font-normal);
    width: auto;
    max-width: 100%;
    min-width: 0;
}

a {
    color: var(--color);
    text-decoration: none;
}

button {
    font-family: 'Pleasure Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--theme-accent);
    min-width: 100px;
    width: max-content;
    color: var(--theme-neutral-black);
    border: none;
    border-radius: 999px;
    font-size: var(--font-normal);
    /* 
      Vertical padding should look the same size as a letter.
      With the pleasure font, that seems to be at around 75% font size.
     */
    padding: 0.75rem 1rem;
}

button.symbol {
    background-color: transparent;
}

/* Action buttons that stay on the page, as opposed to changing the view. */
button.action {
    background-color: var(--theme-main);
}

button.light {
    background-color: var(--theme-accent-medium);
}

button.big {
    width: 152px;
    height: 80px;
    margin: 10px;
}

button.small {
    width: 50px;
    height: 50px;
}

/* Removed from CI */
/* button.wide {
    margin: 5px auto;
    width: 90%;
    max-width: 450px;
} */

button.full-width {
    margin: 5px auto;
    width: 100%;
}

button.short {
    height: 50px;
}

button.locked {
    background-color: var(--theme-neutral-dark);
    color: var(--theme-neutral-gray);
    opacity: 0.5;
    cursor: not-allowed;
}

button.cancel {
    background-color: var(--theme-neutral-gray);
    color: var(--theme-neutral-dark);
}

button.reset {
    width: 80px;
    height: 30px;
    color: var(--theme-neutral-dark);
    background-color: var(--theme-main);
    text-align: center;
    padding: 0;
}

button.blue {
    color: var(--theme-main);
}

button.margin15 {
    margin: 15px;
}

button.width60 {
    width: 60px;
}

button.danger {
    border: var(--theme-neutral-dark) solid 3px;
}

/* for permanently hidden objects or the occasional instances where it's easier
to hide an element instead of conditional rendering */
.hidden {
    display: none;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
}