/*
* Theme colors for re-use in all components.
* The theme is static for now.
*/
:root {
    --theme-main: #382eeb;
    --theme-neutral-dark: #121124;
    --theme-neutral-gray: #aeaeb1;
    --theme-neutral-light: #c2bfff;
    --theme-neutral-white: #ffffff;
    --theme-accent: #e97516;
    --theme-accent-light: #ffad69;
}

/*
* General styling defaults
*/

body {
    margin: 0;
    background-color: var(--theme-neutral-white);
    color: var(--theme-neutral-dark);
}

body,
input {
    font-family: 'Walkway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* Walkway has very narrow letter spacing be default, make it more readable. */
    letter-spacing: 1px;
}

h1.colored {
    /* color: var(--theme-main); */
    /* font-weight: 900; */
    text-shadow: var(--theme-main) 0px 0px 20px;
}

h2.box {
    margin: 5px 0;
    background-color: var(--theme-neutral-light);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

input {
    font-size: 40px;
    width: auto;
    max-width: 100%;
    min-width: 0;
}

a {
    color: var(--theme-neutral-dark);
    font-weight: 900;
}

button {
    font-family: 'Walkway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: var(--theme-accent);
    color: var(--theme-neutral-dark);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1.5px;
}

button.light {
    background-color: var(--theme-accent-light);
    color: var(--theme-neutral-dark);
    border: var(--theme-neutral-dark) solid 1px;
    border-radius: 2px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px #00000082;
}

button:hover {
    box-shadow: 0 2px 8px #00000082;
}

button.light:active {
    box-shadow: 0 0px 0px #00000082;
}

button {
    height: 80px;
    width: 120px;
}

@media (max-width: 360px) {

    /* Three buttons must fit next to each other, including margin */
    button {
        width: 75px;
        height: fit-content;
    }
}

button.big {
    width: 152px;
    height: 80px;
    margin: 10px;
}

button.small {
    width: 50px;
    height: 50px;
}

button.wide {
    margin: 5px auto;
    width: 90%;
    max-width: 450px;
}

button.full-width {
    margin: 5px auto;
    width: 100%;
}

button.short {
    height: 50px;
}

button.locked {
    background-color: var(--theme-neutral-gray);
    color: var(--theme-neutral-dark);
    opacity: 0.5;
    cursor: not-allowed;
}

button.cancel {
    background-color: var(--theme-neutral-gray);
    color: var(--theme-neutral-dark);
}

button.reset {
    width: 80px;
    height: 30px;
    background-color: var(--theme-accent-light);
    color: var(--theme-neutral-dark);
    text-align: center;
    padding: 0;
}

button.blue {
    color: var(--theme-main);
}

button.margin15 {
    margin: 15px;
}

button.width60 {
    width: 60px;
}

button.danger {
    font-weight: 800;
    border: var(--theme-neutral-dark) solid 3px;
}

/* for permanently hidden objects or the occasional instances where it's easier
to hide an element instead of conditional rendering */
.hidden {
    display: none;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
}