(
    version: 1,
    poses: [
        (
            id: "pose-6f1ec40b",
            names: Some({
                "en": "straight",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: -13,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: -10,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: -49,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 0.0,
                    angle: -20,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 0.0,
                    angle: -14,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 8,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: 5,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 38,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 0.0,
                    angle: 11,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 0.0,
                    angle: 21,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: -12,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 6,
                    tolerance: 0,
                ),
            ],
            turn_hip: 6,
        ),
        (
            id: "pose-33c47f90",
            names: Some({
                "en": "squat",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: -69,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: 32,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: -47,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 0.0,
                    angle: -25,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 0.0,
                    angle: -11,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 51,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: -38,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 37,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 0.0,
                    angle: 23,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 0.0,
                    angle: -4,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: -12,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
            ],
            y_shift: -0.2,
            turn_hip: -7,
        ),
        (
            id: "pose-19e23fc8",
            names: Some({
                "en": "one-arm-up",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: 6,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: 4,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: 6,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -153,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: -171,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: -1,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: -3,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 38,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 5,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 5,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 5,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: -2,
                    tolerance: 0,
                ),
            ],
            turn_hip: 6,
        ),
        (
            id: "pose-8cf11fe4",
            names: Some({
                "en": "one-arm-up-prepare-jump",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: -6,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: 6,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: -11,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: 215,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 172,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 4,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: -9,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 23,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 11,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 7,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 4,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: -1,
                    tolerance: 0,
                ),
            ],
            y_shift: -0.05,
            turn_hip: -2,
        ),
        (
            id: "pose-46788ff2",
            names: Some({
                "en": "one-arm-up-jump",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: 2,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: -3,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -157,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 178,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: -2,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 9,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 14,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 8,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 2,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: -1,
                    tolerance: 0,
                ),
            ],
            y_shift: 0.15,
            turn_hip: -1,
        ),
        (
            id: "pose-233c47f9",
            names: Some({
                "en": "point-left",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 0.0,
                    angle: 6,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 0.0,
                    angle: 2,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 0.0,
                    angle: -8,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: 33,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 83,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 0.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 0.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 0.0,
                    angle: 47,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 23,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 45,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 4,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 2,
                    tolerance: 0,
                ),
            ],
            turn_hip: -5,
        ),
        (
            id: "pose-a46788ff",
            names: Some({
                "en": "wave-both-arms-open",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 0.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 0.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 0.0,
                    angle: -24,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -63,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: -155,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 0.0,
                    angle: 0,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 0.0,
                    angle: -1,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 0.0,
                    angle: 24,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 65,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 143,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
            ],
            turn_hip: -7,
        ),
        (
            id: "pose-5233c47f",
            names: Some({
                "en": "wave-both-arms-closed",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 0.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 0.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 0.0,
                    angle: -25,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -93,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 160,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 0.0,
                    angle: -1,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 0.0,
                    angle: -2,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 0.0,
                    angle: 15,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 84,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: -173,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 2,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: -1,
                    tolerance: 0,
                ),
            ],
            turn_hip: -10,
        ),
        (
            id: "pose-a919e23f",
            names: Some({
                "en": "point-left-prepare",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: 5,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: -5,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -10,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 93,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 40,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 9,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 61,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 3,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 0,
                    tolerance: 0,
                ),
            ],
            turn_hip: -5,
        ),
        (
            id: "pose-548cf11f",
            names: Some({
                "en": "point-left-outside",
            }),
            direction: Front,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 0.0,
                    angle: 6,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 0.0,
                    angle: 2,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 0.0,
                    angle: -8,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: 47,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 91,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 0.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 0.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 0.0,
                    angle: 34,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: 24,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: 60,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: 4,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 1,
                    tolerance: 0,
                ),
            ],
            turn_hip: -10,
            z: (
                absolute: {
                    (
                        side: Left,
                        part: Wrist,
                    ): 1.0,
                    (
                        side: Right,
                        part: Toes,
                    ): 0.0,
                    (
                        side: Left,
                        part: Elbow,
                    ): 1.0,
                    (
                        side: Left,
                        part: Ankle,
                    ): 0.0,
                    (
                        side: Right,
                        part: Knee,
                    ): 0.0,
                    (
                        side: Left,
                        part: Knee,
                    ): 0.0,
                    (
                        side: Right,
                        part: Elbow,
                    ): 0.5,
                    (
                        side: Left,
                        part: Heel,
                    ): 0.0,
                    (
                        side: Right,
                        part: Heel,
                    ): 0.0,
                    (
                        side: Right,
                        part: Wrist,
                    ): 0.5,
                    (
                        side: Right,
                        part: Ankle,
                    ): 0.0,
                    (
                        side: Left,
                        part: Toes,
                    ): 0.0,
                },
            ),
        ),
        (
            id: "pose-a13ffea4",
            names: Some({
                "en": "jump-prepare-side",
            }),
            direction: Right,
            limbs: [
                (
                    limb: LeftThigh,
                    weight: 1.0,
                    angle: 8,
                    tolerance: 0,
                ),
                (
                    limb: LeftShin,
                    weight: 1.0,
                    angle: -29,
                    tolerance: 0,
                ),
                (
                    limb: LeftFoot,
                    weight: 1.0,
                    angle: 42,
                    tolerance: 0,
                ),
                (
                    limb: LeftArm,
                    weight: 1.0,
                    angle: -8,
                    tolerance: 0,
                ),
                (
                    limb: LeftForearm,
                    weight: 1.0,
                    angle: 1,
                    tolerance: 0,
                ),
                (
                    limb: RightThigh,
                    weight: 1.0,
                    angle: 26,
                    tolerance: 0,
                ),
                (
                    limb: RightShin,
                    weight: 1.0,
                    angle: -6,
                    tolerance: 0,
                ),
                (
                    limb: RightFoot,
                    weight: 1.0,
                    angle: 55,
                    tolerance: 0,
                ),
                (
                    limb: RightArm,
                    weight: 1.0,
                    angle: -39,
                    tolerance: 0,
                ),
                (
                    limb: RightForearm,
                    weight: 1.0,
                    angle: -7,
                    tolerance: 0,
                ),
                (
                    limb: LeftLeg,
                    weight: 1.0,
                    angle: -11,
                    tolerance: 0,
                ),
                (
                    limb: RightLeg,
                    weight: 1.0,
                    angle: 9,
                    tolerance: 0,
                ),
            ],
            x_shift: -3.5,
            y_shift: 1.0,
            turn_hip: -13,
        ),
    ],
)