#![enable(implicit_some)]
(
  version: 0,
  steps: [
    (
      name: "Happy Feet",
      id: "happy-feet-0",
      variation: "right-first",
      keyframes: [
        (pose: "closed-x", orientation: ToCamera),
        (pose: "happy-right", orientation: ToCamera),
        (pose: "closed-x", orientation: ToCamera),
        (pose: "happy-left", orientation: ToCamera),
      ]
    ),
    (
      name: "V-Step",
      id: "v-0",
      variation: "right-out",
      keyframes: [
        (pose: "v-open-right", orientation: ToCamera, pivot: (side: Right, part: Toes)),
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Right, part: Heel)),
      ]
    ),
    (
      name: "V-Step",
      id: "v-1",
      variation: "left-out",
      keyframes: [
        (pose: "v-open-left", orientation: ToCamera, pivot: (side: Left, part: Toes)),
        (pose: "v-closed", orientation: ToCamera, pivot: (side: Left, part: Heel)),
      ]
    ),
    (
      name: "Gangsta Hop",
      id: "ghop-0",
      variation: "left-first",
      keyframes: [
        (pose: "gangsta-hop-left", orientation: ToCamera),
        (pose: "gangsta-right-up-front", orientation: ToCamera),
        (pose: "gangsta-hop-right", orientation: ToCamera),
        (pose: "gangsta-left-up-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Gangsta Hop",
      id: "ghop-1",
      variation: "right-first",
      keyframes: [
        (pose: "gangsta-hop-right", orientation: ToCamera),
        (pose: "gangsta-left-up-front", orientation: ToCamera),
        (pose: "gangsta-hop-left", orientation: ToCamera),
        (pose: "gangsta-right-up-front", orientation: ToCamera),
      ]
    ),
    (
    id: "step-469617",
    name: "step-back",
    keyframes: [
        (
          pose: "pose-26b8821b",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (
          pose: "pose-98418e26",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (
          // open V
          pose: "pose-30831c4d",
          orientation: ToCamera,
          pivot: (side: Right, part: Toes),
        ),
        (
          pose: "pose-cc20c713",
          orientation: ToCamera,
          pivot: (side: Left, part: Toes),
        ),
        (
          // step back right
          pose: "pose-935c410d",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
        (
          pose: "pose-cc20c713",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
        (
          // open V
          pose: "pose-30831c4d",
          orientation: ToCamera,
          pivot: (side: Left, part: Toes),
        ),
        (
          pose: "pose-98418e26",
          orientation: ToCamera,
          pivot: (side: Right, part: Toes),
        ),
      ],
    ),
    (
    id: "step-469617-2",
    name: "v-step-back",
    keyframes: [
        (pose: "v-closed-2", orientation: ToCamera, pivot: (side: Left, part: Heel)),
        (
          pose: "pose-26b8821b",
          orientation: ToCamera,
          pivot: (side: Right, part: Heel),
        ),
        (pose: "v-closed-2", orientation: ToCamera, pivot: (side: Right, part: Heel)),
        (
          // step back right
          pose: "pose-935c410d",
          orientation: ToCamera,
          pivot: (side: Left, part: Heel),
        ),
      ],
    ),
  ]
)