(
  version: 0,
  dances: [
    (
      // This is for featuring a dynamic looking dance on the front page.
      // It's not necessarily very danceable.
      id: "Bouncy Feet Dance",
      steps: [
        "pp-0",
        "rm-0",
        "hrm-0",
      ],
    ),
  ]
)