#![enable(implicit_some)]
(
  version: 0,
  poses: [
    (
      name: "standing-straight",
      limbs: [
        (limb: LeftShin, forward: 0, tolerance: 5, weight: 1.0),
        (limb: LeftThigh, forward: 0, tolerance: 5, weight: 1.0),
        (limb: RightShin, forward: 0, tolerance: 5, weight: 1.0),
        (limb: RightThigh, forward: 0, tolerance: 5, weight: 1.0),
      ]
    ),
    (
      name: "right-up",
      limbs: [
        // left leg has to stand straight, but it doesn't matter if the knee is angled
        (limb: LeftLeg, forward: 0, tolerance: 5, weight: 1.0),
        // right leg is also somewhere around being straight down, but with a tight angle at the knee
        (limb: RightLeg, forward: 0, tolerance: 5, weight: 0.3),
        (limb: RightShin, forward: -30, tolerance: 20, weight: 0.2),
        (limb: RightThigh, forward: 70, tolerance: 5, weight: 0.5),
      ]
    ),
    ( name: "left-up", mirror_of: "right-up" ),
    (
      name: "right-forward",
      limbs: [
        (limb: LeftThigh, forward: -20, tolerance: 5, weight: 0.5),
        (limb: LeftShin, forward: -25, tolerance: 5, weight: 0.5),
        (limb: LeftLeg, forward: -30, tolerance: 5, weight: 1.0),
        (limb: RightThigh, forward: 40, tolerance: 5, weight: 1.0),
        (limb: RightShin, forward: 0, tolerance: 10, weight: 0.5),
      ]
    ),
    ( name: "left-forward", mirror_of: "right-forward" ),
  ]
)