#![enable(implicit_some)]
(
  version: 0,
  steps: [
    (
      name: "Idle",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Idle Side",
      keyframes: [
        (pose: "standing-straight-side", orientation: Right),
        (pose: "standing-straight-side", orientation: Right),
      ]
    ),
    (
      name: "Running Man",
      keyframes: [
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward", orientation: Right),
        (pose: "right-up", orientation: Right),
      ]
    ),
    (
      name: "Running Man on Heels",
      keyframes: [
        (pose: "right-forward-heel", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward-heel", orientation: Right),
        (pose: "right-up", orientation: Right),
      ]
    ),
    (
      name: "V-Step",
      keyframes: [
        (pose: "v-open", orientation: ToCamera),
        (pose: "v-closed", orientation: ToCamera),
      ]
    ),
    (
      name: "Pendulum",
      keyframes: [
        (pose: "pendulum-right", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "pendulum-left", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
  ]
)