#![enable(implicit_some)]
(
  version: 0,
  steps: [
    (
      name: "Idle",
      keyframes: [
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Idle Side",
      keyframes: [
        (pose: "standing-straight-side", orientation: Right),
        (pose: "standing-straight-side", orientation: Right),
      ]
    ),
    (
      name: "Running Man",
      variation: "right-first",
      keyframes: [
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward", orientation: Right),
        (pose: "right-up", orientation: Right),
      ]
    ),
    (
      name: "Running Man",
      variation: "left-first",
      keyframes: [
        (pose: "left-forward", orientation: Right),
        (pose: "right-up", orientation: Right),
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
      ]
    ),
    (
      name: "Double Running Man",
      variation: "right-forward",
      keyframes: [
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "right-forward", orientation: Right),
        (pose: "left-up", orientation: Right),
      ]
    ),
    (
      name: "Double Running Man",
      variation: "left-forward",
      keyframes: [
        (pose: "left-forward", orientation: Right),
        (pose: "right-up", orientation: Right),
        (pose: "left-forward", orientation: Right),
        (pose: "right-up", orientation: Right),
      ]
    ),
    (
      name: "Running Man on Heels",
      variation: "right-first",
      keyframes: [
        (pose: "right-forward-heel", orientation: Right),
        (pose: "left-up", orientation: Right),
        (pose: "left-forward-heel", orientation: Right),
        (pose: "right-up", orientation: Right),
      ]
    ),
    (
      name: "Running Man on Heels",
      variation: "left-first",
      keyframes: [
        (pose: "left-forward-heel", orientation: Right),
        (pose: "right-up", orientation: Right),
        (pose: "right-forward-heel", orientation: Right),
        (pose: "left-up", orientation: Right),
      ]
    ),
    (
      name: "V-Step",
      keyframes: [
        (pose: "v-open", orientation: ToCamera),
        (pose: "v-closed", orientation: ToCamera),
      ]
    ),
    (
      name: "T-Step",
      variation: "right-out",
      keyframes: [
        (pose: "t-open-right", orientation: ToCamera),
        (pose: "t-closed-right", orientation: ToCamera),
      ]
    ),
    (
      name: "T-Step",
      variation: "left-out",
      keyframes: [
        (pose: "t-open-left", orientation: ToCamera),
        (pose: "t-closed-left", orientation: ToCamera),
      ]
    ),
    (
      name: "Pendulum",
      variation: "right-first",
      keyframes: [
        (pose: "pendulum-right", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "pendulum-left", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Pendulum",
      variation: "left-first",
      keyframes: [
        (pose: "pendulum-left", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
        (pose: "pendulum-right", orientation: ToCamera),
        (pose: "standing-straight-front", orientation: ToCamera),
      ]
    ),
    (
      name: "Polly Pocket",
      variation: "right-first",
      keyframes: [
        (pose: "polly-right", orientation: ToCamera),
        (pose: "t-closed-left", orientation: ToCamera),
        (pose: "polly-left", orientation: ToCamera),
        (pose: "t-closed-right", orientation: ToCamera),
      ]
    ),
    (
      name: "Polly Pocket",
      variation: "left-first",
      keyframes: [
        (pose: "polly-left", orientation: ToCamera),
        (pose: "t-closed-right", orientation: ToCamera),
        (pose: "polly-right", orientation: ToCamera),
        (pose: "t-closed-left", orientation: ToCamera),
      ]
    ),
  ]
)